<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>POKEMON</title>
</head>
<body>
    
<div id="main" style="display: flex;align-items:center;justify-content:center;position:relative">
     
    
    <div id="overlay" style="width: 1014px; height: 566px; background:black; position:absolute ;" class="rounded-lg opacity-0 pointer-none"></div>
   <canvas style="border-radius: 10px;"></canvas>

</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/battle.js"></script>
<script src="/javascript/const.js"></script>
<script src="/javascript/script.js"></script>
</html>